.navbar {
    background-color: #000000;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .links a {
    color: #fff;
    margin-right: 15px;
    text-decoration: none;
  }
  
  .links a:hover {
    text-decoration: underline;
  }
  